{% extends 'base.html.twig' %}

{% block title %}Hello RouteController!{% endblock %}

{% block body %}
<img src="{{asset('build/img/logo.svg')}}" alt="logo" style="max-height: 10vh; max-width: 100%;" class="m-1">
<div id="app">
    
</div>
{% endblock %}



{% block stylesheets %}
{{ encore_entry_link_tags('route')}}
{% endblock stylesheets %}
{% block javascripts %}
    {{ encore_entry_script_tags('route') }}
{% endblock javascripts %}
